@model MyWebApp.ViewModels.ProblemViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery-2.1.1.intellisense.js"></script>

<h2>Edit</h2>

<form action="/Problem/UploadFile" method="post" enctype="multipart/form-data" id="imageform"></form>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.Partial("_CreateEdit",Model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="edit" type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>