@{
    ViewBag.Title = "Tutorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tutorial</h2>
<hr/>
<p>
    <img src="~/Resources/1.png" width="600" height="300" />
    <h1 class="jumbotron">Go to the video page.</h1>
    <img src="~/Resources/2.png" width="600" height="300" />
    <h1 class="jumbotron">In context menu choose "Get embed code".</h1>
    <img src="~/Resources/3.png" width="600" height="300" />
    <h1 class="jumbotron">Copy text.</h1>
    <img src="~/Resources/4.png" width="600" height="300" />
    <h1 class="jumbotron">Paste it in Text field.</h1>
    <img src="~/Resources/5.png" width="600" height="300" />
    <h1 class="jumbotron">You're perfect!</h1>
</p>
