<div class="nav">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Administration", "Index", "Admin")</li>
        <li>@Html.ActionLink("Problems", "Problems", "Admin")</li>
        <li>@Html.ActionLink("Users", "Users", "Admin")</li>
    </ul>
    <br />
</div>