@model IEnumerable<MyWebApp.Models.Tag>
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/tagcanvas.js"></script>
<script type="text/javascript">
    window.onload = function () {
        try {
            TagCanvas.Start('myCanvas', 'tags', {
                textColour: '#ff00ff',
                outlineColour: '#0026ff',
                reverse: true,
                depth: 0.8,
                maxSpeed: 0.05,
                weight: true
        });
        } catch (e) {
            document.getElementById('myCanvasContainer').style.display = 'none';
        }
    };
</script>


<div class="row">
    <div class="col-md-8 jumbotron ">
        <h1>Problembook</h1>
        <p class="lead">@Resources.Resource.Welcome</p>
    </div>
    <div class="col-md-4 panel panel-primary">
        <div class="panel-heading">
            <h2>Tags</h2>
        </div>
        <div class="panel-body">
            <div id="myCanvasContainer">
                <canvas width="300" height="300" id="myCanvas">
                    <p>Anything in here will be replaced on browsers that support the canvas element</p>
                </canvas>
            </div>
            <div id="tags">
                
                    @{
                        double size = 10;
                        int count = Model.Count();
                        double step = 40/count;
                        foreach (var tag in Model)
                        {
                            //string link = "/Exercise/ShowExercisesWithTag?tag=" + tag.Text;
                            string style = String.Format("font-size: {0}pt", size);
                            size += step;

                            <a style="@style">@tag.Name</a>
                        }

                    }
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 panel panel-success">
        <div class="panel-heading">
            <h2>Most popular tasks</h2>
        </div>
        <div class="panel-body">
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
        </div>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 panel panel-info">
        <div class="panel-heading">
            <h2>Most recent tasks</h2>
        </div>
        <div class="panel-body">
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4 panel panel-danger">
        <div class="panel-heading">
            <h2>Top-rated users</h2>
        </div>
        <div class="panel-body">


            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>

</div>
